UAI_hackkathon/lesson/train2.json
{
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1400,
        360
      ],
      "id": "cafa06cd-4d51-474a-8f4c-d03b27859464",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LyAvXaCMzTsQXxKo",
          "name": "Litellm Training"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1600,
        360
      ],
      "id": "ee0febb9-f4a2-4faa-bf04-d7af3c152923",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Always use this tool to search for internal IT policies",
        "documentId": {
          "__rl": true,
          "value": "1RJPSdN5f4Z7rb4B2PTACCrw63czLbLaO_0xco5OaTvs",
          "mode": "list",
          "cachedResultName": "Chatbot - Knowledge",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RJPSdN5f4Z7rb4B2PTACCrw63czLbLaO_0xco5OaTvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RJPSdN5f4Z7rb4B2PTACCrw63czLbLaO_0xco5OaTvs/edit#gid=0"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1840,
        340
      ],
      "id": "79da7202-c38c-4050-8f13-f523da774bec",
      "name": "Chatbot - Knowledge",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bbhfwWMPStJX2Tjs",
          "name": "Thien Google Sheet"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Today is {{ $now }}\n\nYou are an AI-powered IT Admin Assistant for a modern tech company. Your job is to support employees by guiding them through common IT processes. You must be helpful, professional, and easy to understand, even for non-technical users.\n\nWhen responding:\n\t•\tAlways confirm what the user wants to do.\n\t•\tResearch for internal IT policies first\n\t•\tProvide step-by-step instructions or links to internal forms/tools.\n\t•\tIf you don’t have the answer, politely escalate or suggest contacting the IT helpdesk.\n\nIf user want to schedule a meeting, check calendar tool for available slot first and then propose a few slot to users\n\nExample tasks you should be able to handle:\n\t•\t“I need a new laptop.”\n\t•\t“I can’t connect to the VPN.”\n\t•\t“How do I access VPN from home?”\n\t•\t“Can you help me back up my files before laptop replacement?”\n\nBe concise, friendly, and solution-focused."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1600,
        100
      ],
      "id": "2f8732a1-0ab7-48d3-a7e4-646ef74274b9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## Agent",
        "height": 620,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        0
      ],
      "typeVersion": 1,
      "id": "177364ac-160f-4a1b-9bd1-c90f4397753f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1300,
        100
      ],
      "id": "401a2f0a-7882-4683-8f9a-ca8b905015c9",
      "name": "When chat message received",
      "webhookId": "584c2161-22bd-41a6-bc96-cab61d9874e0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3660,
        340
      ],
      "id": "a183a7bd-7d5b-4029-a671-524af81d93fe",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "LyAvXaCMzTsQXxKo",
          "name": "Litellm Training"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3860,
        340
      ],
      "id": "4efdc819-9b5a-4b62-8c00-52e9175c1580",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Today is {{ $now }}\n\nYou are an AI-powered IT Admin Assistant for a modern tech company. Your job is to support employees by guiding them through common IT processes. You must be helpful, professional, and easy to understand, even for non-technical users.\n\nWhen responding:\n\t•\tAlways confirm what the user wants to do.\n\t•\tResearch for internal IT policies first\n\t•\tProvide step-by-step instructions or links to internal forms/tools.\n\t•\tIf you don’t have the answer, politely escalate or suggest contacting the IT helpdesk. If escalate, you must schedule a meeting with IT admin\n\n\nExample tasks you should be able to handle:\n\t•\t“I need a new laptop.”\n\t•\t“I can’t connect to the VPN.”\n\t•\t“How do I access VPN from home?”\n\t•\t“Can you help me back up my files before laptop replacement?”\n\nBe concise, friendly, and solution-focused."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3860,
        80
      ],
      "id": "843916fc-6e1e-487f-8c61-1b61a4229a34",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "content": "## Agent",
        "height": 620,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3460,
        -20
      ],
      "typeVersion": 1,
      "id": "a246ed79-bad4-499c-ace5-2b4767c925c3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "description": "Call this tool to organize meeting with IT admin, input email of itadmin in the userQuery\n",
        "workflowId": {
          "__rl": true,
          "value": "fcb4RMF9LMMNPJgq",
          "mode": "list",
          "cachedResultName": "Thien's meeting organizer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `user query, must include user need, problem, and expect. Must include it admin in this description, his name is antran@chotot.vn`, 'string') }}"
          },
          "matchingColumns": [
            "request"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4200,
        340
      ],
      "id": "e4201e8f-b34f-41ce-9471-c788dc4e657e",
      "name": "schedule meeting with itadmin"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Always use this tool to search for internal IT policies",
        "documentId": {
          "__rl": true,
          "value": "1RJPSdN5f4Z7rb4B2PTACCrw63czLbLaO_0xco5OaTvs",
          "mode": "list",
          "cachedResultName": "Chatbot - Knowledge",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RJPSdN5f4Z7rb4B2PTACCrw63czLbLaO_0xco5OaTvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RJPSdN5f4Z7rb4B2PTACCrw63czLbLaO_0xco5OaTvs/edit#gid=0"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        4040,
        340
      ],
      "id": "9aad073f-7198-4d88-ba63-0a78d93b4340",
      "name": "search internal IT policies",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bbhfwWMPStJX2Tjs",
          "name": "Thien Google Sheet"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        360
      ],
      "id": "f729f0f1-8ddd-4366-9562-0ca9dcafdec4",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "LyAvXaCMzTsQXxKo",
          "name": "Litellm Training"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        360
      ],
      "id": "def9b3b9-a7c9-407d-be00-bca06257c0ec",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Bạn là 1 trợ lý genz thân thiện , biết xài slang word, teen code tiếng Việt, thích xài emoji"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        300,
        160
      ],
      "id": "3a3e8f8b-17e5-4273-b875-a67fe449e412",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "content": "## Agent",
        "height": 620,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        0
      ],
      "typeVersion": 1,
      "id": "4c729645-a64c-43c5-9288-5a46f8b86f9a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2520,
        360
      ],
      "id": "844a6d38-1756-41f3-9d0c-6e961bdb513d",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "LyAvXaCMzTsQXxKo",
          "name": "Litellm Training"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2720,
        360
      ],
      "id": "c3e0f1e2-1fac-4107-9d51-af2d6a63eb0a",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Always use this tool to search for internal IT policies",
        "documentId": {
          "__rl": true,
          "value": "1RJPSdN5f4Z7rb4B2PTACCrw63czLbLaO_0xco5OaTvs",
          "mode": "list",
          "cachedResultName": "Chatbot - Knowledge",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RJPSdN5f4Z7rb4B2PTACCrw63czLbLaO_0xco5OaTvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RJPSdN5f4Z7rb4B2PTACCrw63czLbLaO_0xco5OaTvs/edit#gid=0"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        2960,
        340
      ],
      "id": "60f1694a-2606-4395-b026-cd501adf1cd5",
      "name": "Chatbot - Knowledge1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bbhfwWMPStJX2Tjs",
          "name": "Thien Google Sheet"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Today is {{ $now }}\n\nYou are an AI-powered IT Admin Assistant for a modern tech company. Your job is to support employees by guiding them through common IT processes. You must be helpful, professional, and easy to understand, even for non-technical users.\n\nWhen responding:\n\t•\tAlways confirm what the user wants to do.\n\t•\tResearch for internal IT policies first\n\t•\tProvide step-by-step instructions or links to internal forms/tools.\n\t•\tIf you don’t have the answer, politely escalate or suggest contacting the IT helpdesk.\n\nIf user want to schedule a meeting, check calendar tool for available slot first and then propose a few slot to users\n\nExample tasks you should be able to handle:\n\t•\t“I need a new laptop.”\n\t•\t“I can’t connect to the VPN.”\n\t•\t“How do I access VPN from home?”\n\t•\t“Can you help me back up my files before laptop replacement?”\n\nBe concise, friendly, and solution-focused."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2720,
        100
      ],
      "id": "e4860182-0ce6-4e5f-8215-0e03313d4ec5",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "content": "## Agent",
        "height": 620,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        0
      ],
      "typeVersion": 1,
      "id": "7c2a0ea3-a349-4fc3-9a1c-207513c8e3c2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e2ef719f-04bf-471f-acc3-d84d948adeb6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2500,
        100
      ],
      "id": "f15b82e1-b36f-4ac2-a8c1-c1b8bca9566a",
      "name": "Webhook",
      "webhookId": "e2ef719f-04bf-471f-acc3-d84d948adeb6"
    }
  ],
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chatbot - Knowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "schedule meeting with itadmin": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search internal IT policies": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chatbot - Knowledge1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5575fbb618ce18eded2642e17168662b4d51c9021b6948119e3da34a38c4af4"
  }
}